body {
    color: #fff;
    background: #2f1508;
}

.post .date, .quote .date, .bookmark .date {
	float: left;
	padding: .3em .4em .3em 1.2em;
	background: #ff8800;
	margin: 0.3em 0  0 -6.0em;
	width: 3.8em;
}
.post .teaser{ border-bottom: solid 1.0em #633709;}

h4 { color: #a85a00;}
#right-rail p, #right-rail ul{ color: #dac694;}

a:link, a:visited {
    color: #ff8800;
}
a:hover { color: #ff2564; }
h2 a:link, h2 a:visited { color: #dac694;}
h2 a:hover { color: #fff;}

pre{ background-color: #dac694;}

ul.recent-posts li { color: #633709;}

.post li{ color: #fff;}

.tag-cloud a { text-decoration: none; }
.tag-cloud a.size-1 { font-size: 10px; }
.tag-cloud a.size-2 { font-size: 10px; }
.tag-cloud a.size-3 { font-size: 18px; }
.tag-cloud a.size-4 { font-size: 22px; }
.tag-cloud a.size-5 { font-size: 26px; }
.tag-cloud a.size-6 { font-size: 30px; }

#contact-form {
  margin: 20px 0;
}

#contact-form label {
  display: block;
  float: left;
  margin-bottom: 10px;
}

#contact-form input {
  float: right;
}

#contact-form textarea, #contact-form input[type="text"] {
  background-color: #DAC694;
  border: 1px solid transparent;
  color: #1C0B03;
  float: right;
  margin-bottom: 10px;
  padding: 0 5px;
  width: 370px;
  font-size: 18px;
}

#contact-form input[type="text"] {
  height: 20px;
}
