@font-face {
  font-family: "Graublau Sans Web";
  src: local('Graublau Sans Web'), url(../fonts/GraublauWeb.otf) format("opentype");
}

@font-face {
  font-family: "Graublau Sans Web";
  src: local('Graublau Sans Web'), url(../fonts/GraublauWebBold.otf) format("opentype");
  font-weight: bold;
}
