{% extends "blog/base_blog.html" %}
{% load honeypot i18n %}

{% block title %}{% trans "Contact" %} | {{ block.super }}{% endblock %}
{% block body_id %}contact{% endblock %}

{% block content %}

<h2>{% trans "Contact me" %}</h2>

<p>{% trans "Enter your name, email address and message, and click 'Send'. I won't share or sell your email address, it's required so that I can get back to you" %}</p>

<form id="contact-form" method="POST" action=".">

{% if form.errors %}
  <div id="form-error">
    <p>{% trans "Woops, looks like you forgot some information." %}</p>

    <ul>
    {% for field in form %}
      {% if field.errors %}
      <li>{{ field.label }} - {{ field.errors|striptags }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
{% endif %}

<fieldset>
  <label for="id_name">{{ form.name.label }}</label>
  {{ form.name }}
</fieldset>

<fieldset>
  <label for="id_email">{{ form.email.label }}</label>
  {{ form.email }}
</fieldset>

<fieldset>
  <label for="id_body">{{ form.body.label }}</label>
  {{ form.body }}
</fieldset>

<fieldset>
  {% render_honeypot_field %}
  <input type="submit" name="submit" value="{% trans "Submit" %}">
</fieldset>
</form>

{% endblock %}
